{{- define "title" }}{{ site.Title }}{{ end -}}
{{- define "main" }}
        <main>
        {{- with .Content }}
            <section class="e-content">
                {{ . }}
            </section>
        {{- end }}
    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
    {{- $paginator := .Paginate $pages -}}
    {{- with $paginator }}
            <section class="h-feed">
        {{- range .Pages -}}
            {{ .Render "summary" }}
        {{- end }}
            </section>
    {{- end -}}
    {{ partial "pagination.html" . }}
        </main>
{{- end -}}
