name: Subscribe to an RSS Feed
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'The URL of the RSS feed'
        required: true
        type: string
      title:
        description: 'The title of the RSS feed'
        default: ''
        required: false
        type: string
      website:
        description: 'The website of the RSS feed'
        default: ''
        required: false
        type: string
      file:
        description: 'The file containing your feeds; this MUST exist'
        default: 'etc/feed.opml'
        required: false
        type: string
jobs:
  subscribe:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: sudo apt-get install -y libxml2-utils
    - name: Add entry to OPML file
      run: "make opml-subscribe OPML_URL='${{ inputs.url }}' OPML_TITLE='${{ inputs.title }}' OPML_WEBSITE='${{ inputs.website }}' OPML_FILE='${{ inputs.file }}'"
    - name: Validate the updated file
      run: make lint-xml
    - name: Preview the feed
      id: feed
      run: |
        curl "${{ inputs.url }}" >input.xml
        delimiter="$(openssl rand -hex 8)"
        echo "contents<<${delimiter}" >>"${GITHUB_OUTPUT}"
        xmllint --format input.xml >>"${GITHUB_OUTPUT}"
        echo "${delimiter}" >> "${GITHUB_OUTPUT}"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        add-paths: |
          ${{ inputs.file }}
        commit-message: 'feat: subscribe to new feed; ${{ inputs.title }}'
        delete-branch: true
        title: 'feat: subscribe to new feed; ${{ inputs.title }}'
        body: |
          \# ${{ inputs.title }}

          \- [Feed](${{ inputs.url }})
          \- [Website](${{ inputs.website }})

          ## Preview
          ```xml
          ${{ steps.feed.outputs.contents }}
          ```
        labels: |
          content
