name: Update Feeds Contents
permissions:
  contents: write
  id-token: write
  pages: write
on:
  push:
    branches:
    - main
    - master
    paths:
    - etc/feed.opml
  schedule:
  - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:
jobs:
  update-content:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get install -y hugo pandoc
        make _virtualenv
    - name: Fetch content updates
      run: |
        git config --global user.name "${GITHUB_REPOSITORY%/*}"
        git config --global user.email "${GITHUB_REPOSITORY%/*}@users.noreply.github.com"
        make update-content GIT_COMMIT=1
    - name: Validate the updated file
      run: make build
    - name: Push changes
      run: git push origin "$(git branch --show-current)"
    - name: Archive artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: dist/public
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
